<section>
  <h3> <%= section_title %>  <span><%= todos.completed.count %>/<%= todos.count %></span></h3>
  <ul>
  <% todos.all.each do |todo| %>
    <li>
      <input type="checkbox">
      <label> <%= todo.todo_text %>
      <% if show_due_date %>
        <span><%= todo.due_date.to_s(:short) %></span>
      <% end %>
      </label>
      <i class="far fa-trash-alt"></i>
    </li>
  <% end %>
</section>
