<section>
  <h3> <%= section_title %>  <span><%= todos.completed.count %>/<%= todos.count %></span></h3>
  <ul>
  <% todos.all.each do |todo| %>
    <li>
      <label>
        <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
          <input type="checkbox" name="completed" <%= todo.completed ? "checked" : " " %> onclick = "this.form.submit()">
        <% end %>
        <p <%= todo.completed ? 'class=crossed-out' : '' %>><%= todo.todo_text %></p>
        <% if show_due_date %>
          <span><%= todo.due_date.to_s(:short) %></span>
        <% end %>
      </label>
      <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
        <input type="image" class="trash-icon" src="<%= asset_path 'trash.svg'%>">
      <% end %>
    </li>
  <% end %>
</section>
